.app__searcher {
  display: flex;
  gap: 1.4rem;

  padding: 2rem 0;
}

.searcher__input {
  background-color: var(--color-crimson);
  border-radius: 2px;
  border: none;
  width: 500px;
  max-width: 100%;
  font-weight: 500;
  font-family: var(--font-base);
  font-size: 0.9rem;
  padding: 0 1rem;

  height: 40px;
}

.text__help {
  padding-top: 1rem;
  color: var(--color-grey);
}
